.home-container{
background:url('../images/book_image.jpg') center  no-repeat;
height: 100vh;
width: 100%;
background-size:cover;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
object-fit: contain;
}

.slogen{
    color:white;
    font-size: 20px;
    margin-top: 60px;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.para{
    color: white;
    font-size:17px ;
    margin-right: 22rem;
    margin-top: 4rem;

}
.btns{
    margin: 6px;
    padding: 2rem;
    border: 0px;
}

.board{
    margin-top:13rem;
    margin-left: 40rem;
}
.text{
    height: 4rem;
   width: 25rem;
   font-family: sans-serif;
   color:black;
   font-size: medium;
   border: 0px;
   border-radius: 1rem;
}

.btn{
    background-color:#2F4F4F;
    width: 7rem;
    color: white;
    height: 4rem;
    font-family: sans-serif;
   
    border: 0px;
}
